
.jumbotron  {
    padding-top: 5rem;
    background-color: #adf1f1;

}

#About {
    background-color: white;
}

#project{
    background-color: #adf1f1;

}

#media {
    background-color: white;
}

section{
    padding-top: 5rem;
}

